// Admin.NET 项目的版权、商标、专利和其他相关权利均受相应法律法规的保护。使用本项目应遵守相关法律法规和许可证的要求。
//
// 本项目主要遵循 MIT 许可证和 Apache 许可证（版本 2.0）进行分发和使用。许可证位于源代码树根目录中的 LICENSE-MIT 和 LICENSE-APACHE 文件。
//
// 不得利用本项目从事危害国家安全、扰乱社会秩序、侵犯他人合法权益等法律法规禁止的活动！任何基于本项目二次开发而产生的一切法律纠纷和责任，我们不承担任何责任！

@if(@Model.NameSpace != "Admin.NET.Core"){
@:using Admin.NET.Core;
}
namespace @(@Model.NameSpace);
/// <summary>
/// 扩展@(@Model.BusName)输出实体
/// </summary>
public partial class @(@Model.ClassName)Output
{


    /// <summary>
    /// count
    /// </summary>
    public int count { get; set; }

	@if(Model.TableField.FirstOrDefault(u => u.ColumnName.ToLower() == "name") == null){
    @:/// <summary>
    @:/// Name
    @:/// </summary>
    @:public string Name { get; set; }
	}
@if(Model.TabType=="Tree"){
    @:/// <summary>
    @:/// @(@Model.BusName)子项
    @:/// </summary>
    @:[SugarColumn(IsIgnore = true)]
    @:public List<@(@Model.ClassName)Output> Children { get; set; }

    @:/// <summary>
    @:/// 是否禁止选中
    @:/// </summary>
    @:[SugarColumn(IsIgnore = true)]
    @:public bool Disabled { get; set; }
}
    
}

/// <summary>
/// 扩展@(@Model.BusName)分页查询输入参数
/// </summary>
public partial class Page@(@Model.ClassName)Input
{
    @if(@Model.TableField.Any(x=>x.Statistical == "Y")){
    @:public string[] GroupBy { get; set; }
    @:public string[] Sum { get; set; }
    @:public IEnumerable<AggregationConfig> Aggregations { get; set; }
    }

}
