@{
    ViewData["Title"] = ViewBag.Description;
}

<div style="text-align:center;margin-top:50px;">
    <img src="~/images/logo.png" style="height:100px;" />
    <div style="font-size:40px;font-weight:800"> Admin.NET </div>
    <div align="center">
        <p>
            <a href="https://gitee.com/zuohuaijun/Admin.NET/stargazers"><img src="https://gitee.com/zuohuaijun/Admin.NET/badge/star.svg?theme=dark" alt="star"></a>
            <a href="https://gitee.com/zuohuaijun/Admin.NET/members"><img src="https://gitee.com/zuohuaijun/Admin.NET/badge/fork.svg?theme=dark" alt="fork"></a>
            <a href="https://gitee.com/zuohuaijun/Admin.NET/blob/next/LICENSE-MIT"><img src="https://img.shields.io/badge/license-MIT-yellow?theme=dark" alt="license"></a>
        </p>
    </div>
    <p>@ViewBag.Description</p>
</div>